<h1> Proposals</h1>

<ul>
<% @proposals.each do |proposal| %>
  <li> <%= link_to  proposal.title, proposal %></li>
<% end %>
</ul>

<% if logged_in? && current_user.role = "Faculty" %>
<%= link_to 'Create new proposal', new_proposal_path %>
<% end %>
