<div class="">
  <h1> <%= @procedure.title %></h1>
</div>

<div class="">
  <li>
    <%= @procedure.steps %>
  </li>
</div>

<%= link_to "Edit", edit_proposal_experiment_procedure_path(@proposal, @experiment, @procedure)  %>
