h1, h2, h3, h4 {
	font-family: 'Bubbler One', sans-serif;
}

p, a, label, input, ol, ul, li {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

.container {
	margin: 50px;
	max-width: 1400px;
}

#header {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.header-logo h1 {
	font-size: 40px;
}

.header-nav a {
	font-size: 20px;
}