h1, h2, h3, h4 {
	font-family: 'Bubbler One', sans-serif;
}

p, a, label, input, ol, ul, li {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

.container {
	margin: 50px 100px;
	max-width: 1400px;
}

#header {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.header-logo h1 {
	font-size: 40px;
}

.header-nav a {
	font-size: 20px;
}

.header-nav span {
	margin: 0 10px;
}

.form-section {
	display: flex;
	justify-content: center;
}

.form-wrapper {
	background-color: #fff;
	border-radius: 10px;
	padding: 30px;
	width: 40%
}

.form-wrapper h2 {
	font-size: 35px;
	text-align: center;
	margin: 0;
}

form {
	display: table;
	margin: 0 auto;
	margin-top: 20px;
}

.form-fields {
	margin: 5px 0 15px 0;
	width: 100%;
}

.submit-button {
	background-color: #D78521;
	border-radius: 10px;
	border: 2px #fff solid;
	color: #fff;
	display: table;
	font-family: 'Teko', sans-serif;
	font-size: 25px;
	margin: 0 auto;
	padding: 15px;
	transition: background-color 0.5s ease;
	width: 100%;
}

.submit-button:hover {
	background-color: #fff;
	border: 2px #D78521 solid;
	color: #D78521;
	transition: background-color 0.5s ease;
}

.submit-button, .submit-button:hover {
}